name: Kustomize Lint

on:
  pull_request:
    branches:
      - main
      - staging

permissions:
  contents: read
  pull-requests: read

jobs:
  kustomize-lint:
    name: Kustomize Lint
    uses: calebsargeant/reusable-workflows/.github/workflows/kustomize-ci.yaml@v1.1.5
