name: Lint

on:
  pull_request:
    branches: [main, staging]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint-scan:
    name: Lint Scan
    uses: calebsargeant/reusable-workflows/.github/workflows/lint-scan.yaml@v1.9.2
