name: Lint

on:
  pull_request:
    branches: [main, staging]
  workflow_dispatch:

jobs:
  lint-scan:
    name: Lint Scan
    uses: calebsargeant/reusable-workflows/.github/workflows/lint-scan.yaml@v1.3.0
    permissions:
      contents: read
      pull-requests: read
