name: Security

on:
  pull_request:
    branches:
      - main
      - staging
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  security-events: write

jobs:
  security-scan:
    name: Security Scan
    uses: calebsargeant/reusable-workflows/.github/workflows/security-scan.yaml@v1.9.2
