name: Security

on:
  pull_request:
    branches:
      - main
      - staging
  workflow_dispatch:

jobs:
  security-scan:
    name: Security Scan
    uses: calebsargeant/reusable-workflows/.github/workflows/security-scan.yaml@v1.2.1
    permissions:
      contents: read
      pull-requests: read
      security-events: write
      
